* {
    font-family: 'Maven Pro', sans-serif;
    padding: auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
}

body {
    background-color: #273952;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* background-color: #151B2B; */
    padding: 0 15px;
    margin-bottom: 50px;
}


.logo-container {
    display: flex;
    align-items: center;
    height: 40%;
    margin-left: 15px;
    height: 30px;
}
.logo-img {
    width: 130px;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -15px;
}

.nav-container {
    display: flex;
    gap: 30px; /* Ajuste o gap para um valor mais razoável */
    align-items: center; /* Garante que os links fiquem centralizados verticalmente */
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    border-radius: 8px;
    background-color: #151B2B;
    padding: 0 10px;
    margin-top: 20px; 
}

.nav-container a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px; /* Ajuste o padding para garantir espaçamento confortável ao redor dos links */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-container a:hover {
    background-color: #34495e;
}

.nav-container a.active {
    background-color: #3a566b; 
    font-weight: bold;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 60px;
    height: auto;
    object-fit: cover;
    display: block;
    padding-right: 15px;
    margin-left: 5px;
    margin-top: 18px;

}

.input-container {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
}

.container-lego, .container-aside {
    flex: 1; /* Os dois contêineres ocuparão o mesmo espaço */
}

.container-lego {
    display: flex;
    justify-content: right;
    padding: 4px;
    border-radius: 10px;
    /* align-items: center; */
    /* background-color: #f9f9f9;  */
}

.container-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #273952; /* Cor de fundo opcional */
}

aside {
    margin-top: 60px;
    display: flex;
    align-items: stretch; /* Garante que os dois elementos tenham a mesma altura */
}

.aside-item {
    background-color: #273952;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #D9D9D9 0%, #737373 100%);
    transition: all 0.3s ease; /*suaviza a transição*/
    box-shadow: 0.3s ease;
}

#buscar-input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    align-items: center;
}


#container-caracteristica {

    display: flex;
    flex-direction: column; 
    width: 1092px;
    justify-content: left;
    margin-top: 20px; 
    padding: 10px;
    background-color: #fff; 
    border-radius: 5px; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    }
    
    #container-caracteristica strong {
        width: 971px;
        font-size: 18px;
        color: #000; 
        margin-bottom: 10px; 
    }
    
    #container-caracteristica p {
        width: 971px;
        color: #000; 
        font-size: 16px;
    }
    
    .containerFooter {
        color: #fff;
        margin-top: 150px;
        margin-left: 60px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 12px;    
    }

    ul{
        list-style-type: none;
        margin-left: 10px;    
    }

    #containerCopy {
        margin-top: 20px;
    }

    .animate {
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
        }
