* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;  
}


body {
    background-color: #273952;
}


.logo-img {
    width: 200px;
    height: 40;
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.email > input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto 3px;
    width: 420px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;  
    background-color: #4c6983;


    }


.senha > input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;  
    margin: 0 auto 5px;
    width: 420px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: #4c6983;      
    }  




.btn_entrar {
    width: 221px;
    height: 40px;
    padding: top 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    background: linear-gradient(90deg, #D9D9D9 0%, #737373 100%);
}




.divider {
    display: flex;
    width: 50%;
    margin-left: 480px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
}


.divider::after, .divider::before {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: white;
    color: #ffffff;
   /* margin: 0,5em;*/
    margin-left: 5px;
    margin-right: 5px;
}


.itens {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


.rodape {
    display: flex;
    height: 90px;
}


.left {
    flex: auto;
    width: 40vw;
    height: 20vh;
    text-align: center;
    margin-top: 10px;
    padding-left: 90px;
    text-align: right;
    margin-right: 50px;
}


.left > a > button{
    color: black;
    font-size: bold;
    background: linear-gradient(90deg, #D9D9D9 0%, #737373 100%);
    width: 120px;
    height: 30px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 2%;
}


input::placeholder {
    color:white;
}


.right {
    flex: auto;
    width: 40vw;
    height: 10vh;
    margin-top: 10px;
    padding-left: 20px;
}


.email > label {
    display: none;
}


.senha > label {
    display: none;
}


.containerFooter {
    color: #fff;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 12px;
   
}
#containerCopy {
    margin-top: 20px;
}


/* validação do formulário */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
 
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
 
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
 
  .visible {
    display: block;
  }


  .helper-text {
    display: flex;
    justify-content: center;
  }


