* {
    font-family: 'Maven Pro', sans-serif;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
}

/* Estilos para Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* background-color: #151B2B; */
    padding: 0 15px;
    margin-bottom: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 40%;
    margin-left: 15px;
    height: 30px;
}

.logo-img {
    width: 130px;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-container {
    display: flex;
    gap: 30px; 
    align-items: center; 
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    border-radius: 8px;
    background-color: #151B2B;
    padding: 0 10px;
    margin-top: 20px; 
}

.nav-container a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-container a:hover {
    background-color: #34495e;
}

.nav-container a.active {
    background-color: #3a566b; 
    font-weight: bold;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 60px;
    height: auto;
    object-fit: cover;
    display: block;
    padding-right: 15px;
    margin-left: 5px;
    margin-top: 18px;
}

/* Estilos para Categoria Section */

.categoria-section h1 {
    color: white;
    font-family: Robboto, sans-serif;
    padding-left: 5px;
    background-color: #3a566b; 
    padding: 7px; 
    border-radius: 5px; 
    width: 10%;
    margin-left: 28px;
}
.categoria-section img {
    width: 218px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.categoria-item {
    display: inline-block;
    padding: 10px;
    margin-right: -13px;
    margin-left: 29px;
    text-align: center;
    background-color: #4c6983;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 19px;
    padding-bottom: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.categoria-titulo {
    margin: 5px;
    color: white;
    font-family: Robboto, sans-serif;
}

/* Estilos para Lancamento Section */
 h3 {
    padding-left: 27px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ecf0f1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 989px bottom;
    background-size: 19px;
    margin-bottom: -18px;
}

.lancamento-section {
    font-family: Robboto, sans-serif;
    color: white;
    margin-top: 30px;
}


.lancamento-section img{
    width: 213px;
    height: auto;
    max-width: 100%;
    object-fit: scale-down;
    border-radius: 8px;
}

.lancamento-item {
    display: inline-block;
    padding-right: 27px;
    margin-left: 23px;
    text-align: center;
    border-radius: 5px;
}

.lancamento-titulo {
    margin-top: 3px;
}

/* Estilos para Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

/* Estilos para Filtro Section */
.filtro-section {
    width: 250px;
    background-color: #273952; /* Cor de fundo escura */
    padding: 10px;
    padding-top: 0;
    border-radius: 5px; /* Cantos arredondados */
    color: #ecf0f1; /* Texto claro */
    font-family: Robboto, sans-serif;
}

.filtro-item {
    display: grid;
    margin-bottom: 10px; /* Espaçamento entre os itens */
    position: relative; /* Para posicionar o ícone */
    justify-content: start;
}

.filtro-item label {
    font-weight: normal;
    margin-bottom: 5px;
    color: #ecf0f1; /* Mantém o texto claro */
}

.filtro-item input[type="text"],
.filtro-item select {
    padding: 7px;
    background-color: #273952; /* Fundo dos campos igual ao fundo do contêiner */
    border: none; /* Remove a borda padrão */
    border-bottom: 1px solid #34495e; /* Linha divisória inferior */
    color: #ecf0f1; /* Texto claro */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s;
    font-size: 16px; /* Aumenta o tamanho da fonte para destaque */
    -webkit-appearance: none; /* Remove o estilo padrão do select no Safari */
    -moz-appearance: none; /* Remove o estilo padrão do select no Firefox */
    appearance: none; /* Remove o estilo padrão do select */
    cursor: pointer; /* Muda o cursor para pointer */
}
select#genre {
    padding-left: 124px;
}    

select#platform {
    padding-left: 129px;
}

select#price {
    padding-left: 123px;
}

select#players {
    padding-left: 90px;
}
.filtro-item input[type="text"]::placeholder {
    color: #bdc3c7; /* Cor do placeholder */
}

.filtro-item input[type="text"]:focus,
.filtro-item select:focus {
    border-bottom-color: #2980b9; /* Cor da borda ao focar */
}

.filtro-item select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ecf0f1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px; /* Espaço para o ícone */
}

.filtro-section button {
    background: none;
    border: none;
    color: #2980b9;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    text-align: right;
}

#search {
  padding: 10px;
  background-color: #34495e; /* Cor de fundo específica para o input de texto */
  border: 1px solid #34495e; /* Borda igual à cor de fundo */
  border-radius: 5px; /* Cantos arredondados */
  color: #ecf0f1; /* Texto claro */
  outline: none; /* Remove o contorno padrão */
  font-size: 16px; /* Tamanho da fonte */
  width: 100%; /* Ocupa toda a largura disponível */
  box-sizing: border-box; /* Inclui padding e border no total do tamanho */
}

#search::placeholder {
  color: #bdc3c7; /* Cor do placeholder */
}

#search:focus {
  border-color: #2980b9; /* Cor da borda ao focar */
}



body {
    background-color: #273952;
}

.containerFooter {
    color: #fff;
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 12px;  
}
#containerCopy {
    margin-top: 20px;
}
