* {
    font-family: 'Maven Pro', sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #273952;
}

.containerHeader {
    display: flex;
    text-align: start;

}


header div img {
    height: 120px;
    width: 120px;
    margin-left: 50px;
}

.containerNav { 
    display: flex;
    justify-content: space-between;
    background-color: #151B2B;
    padding: 15px;
    border-radius: 10px;
}

nav {
    margin-left: 320px;
    margin-right: 320px;
}

.itensNav {
    display: inline-flex;
    
   
}


.containerWelcome { 
   display: flex;
   margin-bottom: 15px;
   margin-top: -20px;
}

.containerH3{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #151B2B 0%, #4C6983 49.66%, #151B2B 100%);
    border-radius: 5px;
    color: #fff;
    align-self: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2rem;
}

#destaques { 
    display: flex;
    text-align: center;
}



.containerGames {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.containerFigure{
    display: block;
    background-color: #4C6983;
    border-radius: 10px;
    padding-bottom: 12px;
    color: #fff;
    font-weight:400px;
    margin-left: 12px;
    margin-right: 12px;
}

div figure img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.containerFooter {
    color: #fff;
}