<footer>
    <div class="containerFooter">
        <span>
            Elaborado pela equipe 4:
        </span>
        
            Alessandra Batista |
            Ana Clara Abreu |
            Jorge Pedro |
            Karina Otubo |
            Osmar Filho |
            Thiago Sabino |
        
    </div>
        
    <div class="containerFooter" id="containerCopy">
        <span>
            <strong>&copy; 2024, Cyber Play, Inc.</strong> Todos os direitos reservados. O Cyber Play é um projeto final do bootcamp Talent Cloud - Front-End, da Proz. 
            Todo desenvolvido pelos alunos do Grupo 4, com supervisão dos professores e demais membros da equipe da Proz.
        </span>
    </div>
</footer>
