<header>
    <div class="header-container">
        <div class="logo-container">
            <img src="/img/logo.png" alt="Cyber Play Logo" class="logo-img">
        </div>
        <nav class="nav-container">
            <a href="/html/index.html" class="active">HOME</a>
            <a href="/html/buscar.html" target="_blank">BUSCAR JOGOS</a>
            <a href="/html/categorias.html" target="_blank">CATEGORIAS</a>
            <a href="/html/promocoes.html" target="_blank">PROMOÇÕES</a>
            <a href="/html/cadastro.html" target="_blank">CADASTRO</a>
        </nav>
        <div class="profile-container">
            <a href="/html/cadastro.html">
                <img src="/img/profile.png" alt="Ícone de Perfil" class="profile-icon">
            </a>
        </div>
    </div>
</header>
